#The Approach 
The following steps were followed:
1. Uploading the liberaries (i.e. Pandas and Numpy) and datasets as df1 and df2.
2. So, In order to retrive the from both df1 and df2 we need to outer join the datasets on the primary keys (i.e. Product ID+Order ID).
3. Product ID, Order ID are 2 different columns. Therefore, they have to be merged to form a single column just for the ease of use.
4. Now, In order to find the missing data, .isna() is used to find the missing values within the column.
5. The result from the function gives the dataset with missing values. Then, calling the .shape() gives the number of the missing values.
6. For finding number of missing quantities, .sum() is applied to the sliced dataset.

In [2]:
#importing liberaries
import numpy as np
import pandas as pd

In [12]:
# reading the Data from the csv or given file format
df1 = pd.read_csv('Records Matching Task.xlsx - data1.csv')

In [13]:
df1

            Order ID       Product ID  Qty
0     CA-2014-100006  TEC-PH-10002075    3
1     CA-2014-100090  FUR-TA-10003715    3
2     CA-2014-100090  OFF-BI-10001597    6
3     CA-2014-100293  OFF-PA-10000176    6
4     CA-2014-100328  OFF-BI-10000343    1
...              ...              ...  ...
9473  US-2017-169551  OFF-PA-10004100    3
9474  US-2017-169551  OFF-ST-10004835    3
9475  US-2017-169551  TEC-AC-10002018    3
9476  US-2017-169551  TEC-AC-10003033    2
9477  US-2017-169551  TEC-PH-10001363    2

[9478 rows x 3 columns]

In [14]:
#Creating combined ID(Order ID+Product ID)

df1['Uni_id1'] = df1['Order ID']+df1['Product ID']

In [15]:
df1

            Order ID       Product ID  Qty                        Uni_id1
0     CA-2014-100006  TEC-PH-10002075    3  CA-2014-100006TEC-PH-10002075
1     CA-2014-100090  FUR-TA-10003715    3  CA-2014-100090FUR-TA-10003715
2     CA-2014-100090  OFF-BI-10001597    6  CA-2014-100090OFF-BI-10001597
3     CA-2014-100293  OFF-PA-10000176    6  CA-2014-100293OFF-PA-10000176
4     CA-2014-100328  OFF-BI-10000343    1  CA-2014-100328OFF-BI-10000343
...              ...              ...  ...                            ...
9473  US-2017-169551  OFF-PA-10004100    3  US-2017-169551OFF-PA-10004100
9474  US-2017-169551  OFF-ST-10004835    3  US-2017-169551OFF-ST-10004835
9475  US-2017-169551  TEC-AC-10002018    3  US-2017-169551TEC-AC-10002018
9476  US-2017-169551  TEC-AC-10003033    2  US-2017-169551TEC-AC-10003033
9477  US-2017-169551  TEC-PH-10001363    2  US-2017-169551TEC-PH-10001363

[9478 rows x 4 columns]

In [16]:
df2 = pd.read_csv('Records Matching Task.xlsx - data2.csv')

In [17]:
df2

            Order ID       Product ID  Qty
0     CA-2014-100090  FUR-TA-10003715    3
1     CA-2014-100090  OFF-BI-10001597    6
2     CA-2014-100293  OFF-PA-10000176    6
3     CA-2014-100328  OFF-BI-10000343    1
4     CA-2014-100363  OFF-FA-10000611    2
...              ...              ...  ...
9474  US-2017-169551  OFF-PA-10004100    3
9475  US-2017-169551  OFF-ST-10004835    3
9476  US-2017-169551  TEC-AC-10002018    3
9477  US-2017-169551  TEC-AC-10003033    2
9478  US-2017-169551  TEC-PH-10001363    2

[9479 rows x 3 columns]

In [18]:
#Creating Unique column ID - "Data1_Unique_ID"
df2['Uni_id2'] = df2['Order ID']+df2['Product ID']

df2

            Order ID       Product ID  Qty                        Uni_id2
0     CA-2014-100090  FUR-TA-10003715    3  CA-2014-100090FUR-TA-10003715
1     CA-2014-100090  OFF-BI-10001597    6  CA-2014-100090OFF-BI-10001597
2     CA-2014-100293  OFF-PA-10000176    6  CA-2014-100293OFF-PA-10000176
3     CA-2014-100328  OFF-BI-10000343    1  CA-2014-100328OFF-BI-10000343
4     CA-2014-100363  OFF-FA-10000611    2  CA-2014-100363OFF-FA-10000611
...              ...              ...  ...                            ...
9474  US-2017-169551  OFF-PA-10004100    3  US-2017-169551OFF-PA-10004100
9475  US-2017-169551  OFF-ST-10004835    3  US-2017-169551OFF-ST-10004835
9476  US-2017-169551  TEC-AC-10002018    3  US-2017-169551TEC-AC-10002018
9477  US-2017-169551  TEC-AC-10003033    2  US-2017-169551TEC-AC-10003033
9478  US-2017-169551  TEC-PH-10001363    2  US-2017-169551TEC-PH-10001363

[9479 rows x 4 columns]

In [21]:
# Two data sets are merged on the common Unique ID
merged_df = df1.merge(df2, how='outer', left_on=['Uni_id1'], right_on=['Uni_id2'])

In [22]:
merged_df

,Order ID_x,Product ID_x,Qty_x,Uni_id1,Order ID_y,Product ID_y,Qty_y,Uni_id2
0,CA-2014-100006,TEC-PH-10002075,3.0,CA-2014-100006TEC-PH-10002075,NaN,NaN,NaN,NaN
1,CA-2014-100090,FUR-TA-10003715,3.0,CA-2014-100090FUR-TA-10003715,CA-2014-100090,FUR-TA-10003715,3.0,CA-2014-100090FUR-TA-10003715
2,CA-2014-100090,OFF-BI-10001597,6.0,CA-2014-100090OFF-BI-10001597,CA-2014-100090,OFF-BI-10001597,6.0,CA-2014-100090OFF-BI-10001597
3,CA-2014-100293,OFF-PA-10000176,6.0,CA-2014-100293OFF-PA-10000176,CA-2014-100293,OFF-PA-10000176,6.0,CA-2014-100293OFF-PA-10000176
4,CA-2014-100328,OFF-BI-10000343,1.0,CA-2014-100328OFF-BI-10000343,CA-2014-100328,OFF-BI-10000343,1.0,CA-2014-100328OFF-BI-10000343
...,...,...,...,...,...,...,...,...
9981,NaN,NaN,NaN,NaN,US-2017-165344,OFF-BI-10003196,10.0,US-2017-165344OFF-BI-10003196
9982,NaN,NaN,NaN,NaN,US-2017-165358,TEC-CO-10001943,5.0,US-2017-165358TEC-CO-10001943
9983,NaN,NaN,NaN,NaN,US-2017-167920,OFF-AP-10000159,5.0,US-2017-167920OFF-AP-10000159
9984,NaN,NaN,NaN,NaN,US-2017-169502,OFF-AP-10001947,5.0,US-2017-169502OFF-AP-10001947
9985,NaN,NaN,NaN,NaN,US-2017-169551,FUR-BO-10001519,3.0,US-2017-169551FUR-BO-10001519

**Identifying the Records (Order ID + Product ID combination) present in data1 but missing in data2 (Specify the number of records missing in your answer)**

In [31]:
missing_df2 = merged_df[merged_df['Uni_id2'].isna()]
missing_df2

,Order ID_x,Product ID_x,Qty_x,Uni_id1,Order ID_y,Product ID_y,Qty_y,Uni_id2
0,CA-2014-100006,TEC-PH-10002075,3.0,CA-2014-100006TEC-PH-10002075,NaN,NaN,NaN,NaN
10,CA-2014-100678,OFF-EN-10000056,3.0,CA-2014-100678OFF-EN-10000056,NaN,NaN,NaN,NaN
19,CA-2014-100895,OFF-AR-10004511,2.0,CA-2014-100895OFF-AR-10004511,NaN,NaN,NaN,NaN
35,CA-2014-101560,OFF-BI-10000309,3.0,CA-2014-101560OFF-BI-10000309,NaN,NaN,NaN,NaN
61,CA-2014-102673,OFF-LA-10001771,12.0,CA-2014-102673OFF-LA-10001771,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
9390,US-2017-160836,OFF-AP-10001626,2.0,US-2017-160836OFF-AP-10001626,NaN,NaN,NaN,NaN
9403,US-2017-162558,FUR-FU-10002364,2.0,US-2017-162558FUR-FU-10002364,NaN,NaN,NaN,NaN
9420,US-2017-163657,OFF-BI-10000138,5.0,US-2017-163657OFF-BI-10000138,NaN,NaN,NaN,NaN
9427,US-2017-164056,FUR-TA-10001307,5.0,US-2017-164056FUR-TA-10001307,NaN,NaN,NaN,NaN
9435,US-2017-165456,FUR-CH-10003981,6.0,US-2017-165456FUR-CH-10003981,NaN,NaN,NaN,NaN

In [32]:
#No. of missing values in df2
missing_df2.shape[0]

507

**Identifying the Records (Order ID + Product ID combination) present in data2 but missing in data1 (Specify the number of records missing in your answer)**

In [33]:
missing_df1 = merged_df[merged_df['Uni_id1'].isna()]

In [34]:
missing_df1

,Order ID_x,Product ID_x,Qty_x,Uni_id1,Order ID_y,Product ID_y,Qty_y,Uni_id2
9478,NaN,NaN,NaN,NaN,CA-2014-100706,TEC-AC-10001314,2.0,CA-2014-100706TEC-AC-10001314
9479,NaN,NaN,NaN,NaN,CA-2014-100762,OFF-PA-10001815,3.0,CA-2014-100762OFF-PA-10001815
9480,NaN,NaN,NaN,NaN,CA-2014-101427,OFF-AR-10002257,3.0,CA-2014-101427OFF-AR-10002257
9481,NaN,NaN,NaN,NaN,CA-2014-102652,FUR-FU-10001918,7.0,CA-2014-102652FUR-FU-10001918
9482,NaN,NaN,NaN,NaN,CA-2014-102869,OFF-PA-10000788,3.0,CA-2014-102869OFF-PA-10000788
...,...,...,...,...,...,...,...,...
9981,NaN,NaN,NaN,NaN,US-2017-165344,OFF-BI-10003196,10.0,US-2017-165344OFF-BI-10003196
9982,NaN,NaN,NaN,NaN,US-2017-165358,TEC-CO-10001943,5.0,US-2017-165358TEC-CO-10001943
9983,NaN,NaN,NaN,NaN,US-2017-167920,OFF-AP-10000159,5.0,US-2017-167920OFF-AP-10000159
9984,NaN,NaN,NaN,NaN,US-2017-169502,OFF-AP-10001947,5.0,US-2017-169502OFF-AP-10001947
9985,NaN,NaN,NaN,NaN,US-2017-169551,FUR-BO-10001519,3.0,US-2017-169551FUR-BO-10001519

In [35]:
#No. of missing values in df1
missing_df1.shape[0]

508


 **Sum of the total Qty of Records missing in data1 but present in data2.**

In [36]:
# Sum of the total quatity of records missing in df1 but present in df2
missing_df1['Qty_y'].sum()

1956.0

**Total number of unique records (Order ID + Product ID combination) present in the combined dataset of data1 and data2**

In [38]:
# the total number of unique records (Order ID + Product ID combination) present in the combined dataset of df1 and df2
merged_df.shape[0]

9986